


<ul class="list-group">
  <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>To Do App</title>
</head>
<body>
  <h1>To Do App</h1>
  <div class="container">
    <input id="inputField" type="text"><button id="addToDoApp">+</button>
    <div class="to-dos" id="toDoContainer">
    </div>
  </div>
  


  <li class="list-group-item">An item</li>
  <li class="list-group-item">A second item</li>
  <li class="list-group-item">A third item</li>
  <li class="list-group-item">A fourth item</li>
  <li class="list-group-item">And a fifth one</li>
</ul>
<script src="server.js"></script>
</body>
</html> 

